<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
    <script src="css/main.js"></script>
</head>
<body>
    <div class="auth-form">
        <h1>Registracijos forma</h1>
        <form action="/register" method="POST">
            <div class="form-control">
                <label for="name">Vartotojo vardas</label>
                <input id="name" type="text" name="name">
            </div>
            <div class="form-control">
                <label for="username">El. paštas</label>
                <input id="username" type="text" name="username">
            </div>
            <div class="form-control">
                <label for="password">Slaptažodis</label>
                <input id="password" type="password" name="password">
            </div>
            <div class="form-control">
                <label for="repassword">Pakartotinis slaptažodis</label>
                <input id="repassword" type="password" name="repassword">
            </div>
            <div class="actions">
                <button type="submit">Registruotis</button> 
                <hr>
                <a href="/login"> Turiu paskyra, noriu prisijungti</a>
            </div>
        </form>
    </div>
</body>
</html>