<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
    <script src="/js/main.js"></script>
</head>
<body>
        
    <%- include('../_partials/navbar') %>
        <h1>Nuotraukos sąrašas</h1>

        <% if(postList){ %>
            <ul>
                <% for(let i = 0; i < postList.length; ++i){ %>
                    <a href="/posts/post/<%= postList[i].id %>">
                        <img src="<%= postList[i].image_path %>" alt="">
                    </a>
                <% } %>
            </ul>
        <% }else { %>
            <p>Nuotrauku neikeliai</p>
            <a href="/posts/create">Ikelk dabar</a>
        <% } %>
</body>
</html>